.adress-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}

.adress-form-content {
    width: 380px;
    height: 460px;
    background-color: #fff;
    border-radius: 5px;
}
.adress-form-content form{
    padding: 0 40px; 
}
.adress-form-content h2{
    font-size: 14px;
    padding:  12px 0;
    border-bottom: 1px solid #ddd;
    position:relative;
}

.adress-form-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border:1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top:50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.adress-form-content form  p{
    margin-top:8px ;
    font-size: 16px;
}
.adress-form-content form input,select{
    height: 50px;
    display:block ;
    width: 100%;
    margin-top: 20px;
    border:1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.adress-form-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color:#006600 ;
    outline: none;
    color: white;
    border-radius: 5px;
}
.adress-form-content form button:hover{
    color: #98c29c;
}